body{
    background: #F4F3EE;
}

.logo{
    position: absolute;
    width: 100pt;
    height: 100pt;
    left: 0cm;
    top: 0cm;
    
    background: url(logo.png);
    mix-blend-mode: darken;
}

.title{
    position: absolute;
    width: 727pt;
    height: 145pt;
    left: 320pt;
    top: 30pt;

    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    font-size: 30pt;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #463F3A;
}

.text{
    position: absolute;
    width: 727pt;
    height: 145pt;
    left: 350pt;
    top: 70pt;

    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    font-size: 15pt;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #463F3A;
}

.box1{
    position: absolute;
    width: 700pt;
    height: 150pt;
    left: 130pt;
    top: 220pt;

    background: #FFFFFF;
}

.box2{
    position: absolute;
    width: 600pt;
    height: 50pt;
    left: 180pt;
    top: 270pt;

    background: #E0AFA0;
    border-radius: 50px;
}

.upload-files{
    position: absolute;
    width: 188pt;
    height: 49pt;
    left: 430pt;
    top: 270pt;

    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    font-size: 20pt;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #463F3A;
}

/* .drop-files{
    position: absolute;
    width: 220px;
    height: 49px;
    left: 850px;
    top: 633px;

    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #463F3A;
} */

.copy-right{
    position: absolute;
    width: 218px;
    height: 49px;
    left: 877px;
    top: 1008px;

    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #463F3A;

}